* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("img/pexels-cottonbro-4720385.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.container {
  background-color: aliceblue;
  justify-content: center;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.3rem 0.1rem 0.1rem black;
  max-width: 30rem;
}
#icon {
  margin-top: 0.4rem;
}
.flex-container {
  display: flex;
  margin-bottom: auto;
  align-items: center;
}
.flex-container div {
  margin: 0.2rem;
}
.btn {
  border-style: none;
  color: aliceblue;
  font-size: x-large;
  background-color: rgb(212, 181, 55);
  border-radius: 0.4rem;
  width: 15rem;
  padding: 2%;
  margin-bottom: 1rem;
  box-shadow: 0.1rem 0.3rem 0.1rem 0.1rem black;
}
.btn:hover {
  background-color: rgb(107, 54, 185);
  border-style: solid;
  border-top: 0.2rem;
  border-left: 0.1rem;
  border-style: hidden;
  margin-bottom: 1rem;
}
.btn2 {
  border-style: none;
  background-color: aliceblue;
  border-radius: 0.2rem;
  width: 5rem;
  margin: 1rem;
}
.btn2:hover {
  background-color: rgb(212, 181, 55);
  border-radius: 100%;
  border-style: hidden;
  margin: 1rem;
}
#joke {
  font-size: medium;
}
header {
  margin-left: 0.1rem;
  font-size: x-large;
  color: aliceblue;
}

@media (max-width: 600px) {
  header {
    background-color: aliceblue;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: black;
    max-width: 30rem;
    box-shadow: 0.1rem 0.3rem 0.1rem 0.1rem black;
  }
  .btn {
    width: auto;
  }
  .btn2 {
    background-color: aliceblue;
    width: auto;
  }
}
@media (max-width: 300px) {
  .flex-container div {
    font-size: small;
  }
}
